.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 22rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --dot-border-color: #351c0e;
  --selected-dot-bg-color: #4d2612;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  display: flex;
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  justify-content: center;
  align-items: center;
}

.embla__slide__imgs {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  cursor: grab;
  height: var(--slide-height);
  user-select: none;
}

.embla__slide__imgs:active {
  cursor: grabbing;
}

.embla__controls {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  place-items: center;
  gap: 1.2rem;
  margin-top: 0.7rem;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--dot-border-color);
  padding: 0;
  margin: 0.2rem;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
  background-color: var(--selected-dot-bg-color);
}
